*{
    margin: 0;
}
.navi{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
.logo{
    display: flex;
    font-size: 25px;
    align-items: center;
}
.logo img{
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 5px;
    border-radius: 50%;

}
.list{
    display: flex;
    width: 450px;
    justify-content: space-around;
}
.list li a{
    text-decoration: none;
    color: wheat;
}
.list li{
    list-style-type: none;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: rgb(20, 46, 66);
    transition: .5s linear;
}
.list li:hover{
    color: rgb(120, 158, 192);
    background-color: red;
}
.search{
    border-radius: 10px;
    position: relative;
    width: 300px;
    text-align: end;
    
}
.search input{
    border-radius: 20px;
    border-color: rgb(15, 26, 54);
    padding: 8px;
    width: 280px;
}
.search button{
    padding: 8px;
    position: absolute;
    right: 0px;
    border-radius: 0px 20px 20px 0px;
    border-color: none;
}
.Singup{
    width: 260px;
    text-align: end;
    
}
.Singup button:hover{
    color: rgb(120, 158, 192);
    background-color: red;
}
.Singup button{
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 13px;
    background-color: rgb(20, 46, 66);
    color: wheat;
    transition: .5s linear;
}
.top-img img{
    padding: 10px;
    width: 1300px;
    height: 300px;
    display: block;
    margin: 0px auto;
}
.top-img1 img{
    padding: 10px;
    width: 1300px;
    height: 100px;
    display: block;
    margin: 0px auto;

}





.heading{
    color: red;
    text-align: center;
    margin: 10px 0px;

}
.heading span{
    border: 2px solid rgb(148, 148, 196);
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.main-1{
    width: 650px;
    height: 260px;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: wheat;
    overflow: hidden;
    margin: 10px 0px;

}
.main img{
    width: 280px;
    height: 250px;
    margin: 5px 30px 0px 5px;
    transition: 0.5s linear;
    
}
.main img:hover{
    transform: scale(1.1);

}

.main-1{
    display: flex;
    align-items: center;
}
.main-1 h4{
    font-size: 30px;
    margin-bottom: 0;
}
.main-1 p{
    color: rgba(124, 124, 6, 0.808);
    margin: 0px 0px 30px 0px;
    font-size: 25px;
}
.main-1 button{
    font-size: 20px;
    background-color: #62a16fe5;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    transition: .5s linear;
    margin: auto;

    
}
.main-1 button:hover{
    background-color: rgb(33, 44, 53);
    color: aliceblue;
}
.b1{
    background-color: antiquewhite;
}
.main-1 .b1{
    background-color: rgb(198, 233, 233);
    width: 150px;
    text-align: right;
}

